/* #booking {
  position: fixed;
  position: sticky
} */

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 3fr);
  text-align: center;
}

#booking {
  top: 10%;
  position: fixed;
  position: sticky;
}

